#contactoDiv {
    height: 90vh;
    
}

#formularioDiv {
    color: white;
}

#mensajeTextArea {
    min-height: 120px;
}

<<<<<<< HEAD
#infoContactoDiv
{
}
=======
>>>>>>> 3f9ef64bd8c2b9d1cddf509253f492ccfbb7da97
