.container {
    padding: 40px;
    background: #419be0;
  }
  
  .slick-slide img {
    margin: auto;
  }
  
  @media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 200px; 

  }


  .carousel-multi-item-2 {  border: 3px solid #ffffff;
  }

#slider{
margin-left: 200px;
}